@charset "UTF-8";

body {
    background: #E7E7E2 url('../img/body.jpg') no-repeat center top;
    color: #444;
    padding-top: 0px; //64px;
}

p,code,ul {
    padding-bottom: 1.2em;
}
p{
    text-align: justify;
}
table , th,td{
    border: 1px solid black;
    background-color: #ffffff;
    border-collapse: collapse;
    width: 700px;
}
table td{
    text-align: center;
}
li {list-style: none;}

h1 {font: normal 1.8em Tahoma,sans-serif;}
h2 {font: bold 1.4em sans-serif;}
h3 {font: bold 1em Tahoma,sans-serif;}

code {
    background: #FFF;
    border: 1px solid #EEE;
    border-left: 6px solid #CCC;
    color: #666;
    display: block;
    font: normal 1em Tahoma,sans-serif;
    line-height: 1.6em;
    margin-bottom: 12px;
    padding: 8px 10px;
    white-space: pre;
}

blockquote {
    background: url(../img/quote.gif) no-repeat;
    display: block;
    font-weight: bold;
    padding-left: 28px;
}

h1,h2,h3 {padding-top: 6px; color: #553; margin-bottom: 4px;}
/*add*/

#container{
	width:1004px;
	margin:0px auto;
	border:solid 1px #CCC;
	border-top:none;
}

h1{
	font-family:Georgia, "Times New Roman", Times, serif;
	margin:0px;
	padding:5px 0px 15px 15px;
	font-size:22px;
}

/* headere & title */
#header {

    background: #222 url('../img/header.jpg') no-repeat;
    height: 160px;
    margin-bottom: 5px;
    text-align: center;
}

.cabecalho {
    background: #949490;
    color: #F7F7F2;
    margin-top: 5px;
    padding: 10px 12px;
    height: 10px;
    border-radius: 0px 0px 15px 15px;
    text-align: left;
    font: bold 13px Tahoma,sans-serif !important;
}

.cabecalho a {
    color: #F7F7F2;
    text-decoration: none;
}
.cabecalho a:hover 
{
    color: #FFC;
}

.logado
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
    text-align: right !important;
    float: right !important;
    color: #FFDEAD;//navajowhite;
}

.sair
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px
    text-align: right !important;
    float: right !important;
    color: red !important;
}

#menu{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	width:180px;
	margin:0px;
	padding:20px;
	border-right:dotted 1px #CCC;
	float:left;
}

/* footer */
.footer {
    background: #949490;
    color: #F7F7F2;
    margin-top: 5px;
    padding: 10px 12px;
}
.footer a {
    color: #F7F7F2;
    text-decoration: none;
}
.footer a:hover {color: #FFC;}

.titulo {
	color: #FFF;
    padding-top: 50px;
    /*border-bottom: 1px dashed #657382;*/
    font: normal 1.5em sans-serif;
    padding-bottom: 2px;
    text-decoration: none;
}

input[type=text],input[type=password] {
	width:95%;
	padding:10px;
	margin-top:8px;
	border:1px solid #ccc;
	padding-left:5px;
	font-size:16px;
	font-family:raleway
}
/*
input[type=submit] {
	width:100%;
	background-color:#FFBC00;
	color:#fff;
	border:2px solid #FFCB00;
	padding:10px;
	font-size:20px;
	cursor:pointer;
	border-radius:5px;
	margin-bottom:15px
}
*/
#login {
	width:300px;
	border-radius:10px;
	font-family:raleway;
	border:2px solid #ccc;
	padding:10px 40px 25px;
	margin-top:70px
}

#main {
    width:960px;
    margin:50px auto;
    font-family:raleway
}

/*MenuBar*/
#cssmenu,
#cssmenu ul,
#cssmenu li #cssmenu a {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
    font-family: Helvetica;
    line-height: 0;
    height: 30px;
}
#cssmenu {
    width: auto;
    height: 30px;
}
#cssmenu ul {
    zoom: 1;
    background: #CDC9A5 url(img/pattern.png) top left repeat;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #839b4e;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
#cssmenu ul:before {
    content: '';
    display: block;
}
#cssmenu ul:after {
    content: '';
    display: table;
    clear: both;
}
#cssmenu a,
#cssmenu a:link,
#cssmenu a:visited {
    padding: 15px 20px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 -1px 1px #586835;
    border-right: 1px solid #839b4e;
}
#cssmenu a:hover {
    color: #586835;
    text-shadow: 0 1px 1px #bdcd9c;
}
#cssmenu li {
    float: left;
    border-right: 1px solid #b2c58b;
}
#cssmenu li:hover {
    background: #9cb369 url(images/pattern.png) top left repeat;
}
#cssmenu li:first-child {
    border-left: none;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}


.loginbutton {
    width:300px;
    font-family: arial;
    color: #14396A !important;
    font-size: 14px;
    text-shadow: 1px 1px 0px #7CACDE;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 10px 25px;
    margin-top: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #3866A3;
    background: #63B8EE;
    background: linear-gradient(top,  #63B8EE,  #468CCF);
    background: -ms-linear-gradient(top,  #63B8EE,  #468CCF);
    background: -webkit-gradient(linear, left top, left bottom, from(#63B8EE), to(#468CCF));
    background: -moz-linear-gradient(top,  #63B8EE,  #468CCF);
}
.loginbutton:hover {
    color: #14396A !important;
    background: #468CCF;
    background: linear-gradient(top,  #468CCF,  #63B8EE);
    background: -ms-linear-gradient(top,  #468CCF,  #63B8EE);
    background: -webkit-gradient(linear, left top, left bottom, from(#468CCF), to(#63B8EE));
    background: -moz-linear-gradient(top,  #468CCF,  #63B8EE);
}
.content{
    padding-left: 10px;

}

/* tela de ajuda  */
.conteudoAjuda{
 background-color: #ffffff;
  width: 970px;
  padding-left: 10px;
  margin-left: 10px;
  margin-top: 5px;
}
#tituloFuncionamento:hover{
    color: #FFC;
}
#tituloLogin:hover{
 color: #FFC;   
}
#tituloCadastro:hover{
 color: #FFC;   
}
#tituloConsulta:hover{
 color: #FFC;      
}
#funcionamentoContent{
    display:none;
}
#loginContent{
    display:none;
}
#cadastroContent{
    display:none;   
}
#consultaContent{
    display:none;   
}
/* tela de cadastro */
#labelCadastro:hover{
  
  color: #C0C0C0;
}
#tabelaCadastro{
    margin-top: 20px;
    margin-left: 250px;
}
#cadastroContent{
    display: none;
    background-color: #ffffff;
    width: 600px;
    margin-top: 2px;
    margin-left: 250px;
}
#formularioCadastro{
    padding: 20px;
    
}